body {
    padding: 10vh;
}

article {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(251, 247, 227);

    padding: 50px;
}

img {


    flex: 1 1 500px;
    overflow: hidden;
    margin: 10px;
    object-fit: cover;
}

.p {
    flex: 1 1 400px;

}